/* cursor */
cursor {

  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 3px solid rgb(255, 0, 0);
  transition: all 40ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 100000;
  opacity: .6;
  box-shadow: #f00;
}

.cursor2 {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: rgb(255, 0, 0);
  opacity: .6;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 1000000;
}



/* -------------debut header-------------- */

* {
  padding: O;
  margin: 0;
  box-sizing: border-box;

}

header {
  background-color: black;
  background-image: url(https://image.ibb.co/fsDw0p/blake_connally_373084_unsplash.jpg );
  background-size: cover;
  background-position: center;
  opacity: O.8px;

}


li {
  list-style: none;

}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  padding: 0 24px;
  align-items: center;
  min-height: 70px;
  justify-content: space-between;
  display: flex;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  z-index: 1;

}

.nav-branding img {
  height: 50px;

}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}
/* ---presentation---- */
.presentation {
  background-image: url(http://localhost/Simplon/portfolio/assets/Bug-bunny.mp4);
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw ;
  height: 30vw;
  text-align: center;
}
/* --- FIN presentation---- */
.competence{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #71cff0;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.competence p{
  margin: 50px;
}
/* <!-- -------fin competence -------> */
.contact ul{
 
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start;
  gap:50px ;
}
.contact img{
  height: 50px;
  

}

@media(max-width:1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    opacity: 0.8;
    background-image: url(https://image.ibb.co/fsDw0p/blake_connally_373084_unsplash.jpg );
    background-size: cover;
    background-position: center;

  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* -------------fin header-------------- */

